{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenido a Gestion CIDE web app{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}

                    {% if request.user.medico %}
                        <li><a href="{% url 'perfil_medico' %}">Ver mi perfil médico</a></li>
                        <li><a href="#">Consultar historia clínica</a></li>
                        <li><a href="{% url 'listar_mis_citas' %}">Consultar mis citas médicas</a></li>
                        <li><a href="#">Nueva historia clínica</a></li>                        
                    
                    {% elif request.user.paciente %}
                        <li><a href="#">Ver mi perfil de paciente</a></li>
                        <li><a href="{% url 'registrar_cita' %}">Solicitar cita médica</a></li>
                    
                    {% elif request.user.administradorsistema %}
                        <li><li><a href="{% url 'gestionar_usuario' %}">Gestionar usuario</a></li></li>
                        <li><a href="{% url 'listar_usuarios' %}">Listar usuarios</a></li>
                    <li><a href="{% url 'listar_usuarios_filtrados' %}">Busqueda general de usuarios</a></li>
                    <li><a href="{% url 'buscar_usuario_documento' %}">Buscar por número de documento</a></li>
                    <li><a href="{% url 'buscar_usuarios_nombre' %}">Buscar usuarios por nombre</a></li>
                    <li><a href="{% url 'listar_administradores_s' %}">Listar Administradores de Sistema</a></li>
                    <li><a href="{% url 'buscar_usuarios_parametros' %}">Buscar por parámetros</a></li>
                    {% else %}
                        <li><a href="{% url 'detallar_usuario' %}">Ver mis datos de usuario</a></li>
                    {% endif %}
      
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'registrar_usuario' %}">Registrarme</a></li>
                    <li><a href="{% url 'registrar_medico' %}">Registrar Médico</a></li>
                    <li><a href="{% url 'registrar_paciente' %}">Registrar Paciente</a></li>
                    <li><a href="{% url 'registrar_administrador_s' %}">Registrar Administrador de Sistema</a></li>
                
                    
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}


    <footer>
        <p>2025 - CIDE APP - Sistema de Gestion Servicios de Salud - Derechos reservados</p>
    </footer>
</body>
</html>